
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
        margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
}


.First_Section
{
    background-color: rgb(250, 250, 250);
    padding-top: 5px;
    padding-bottom: 10px; 
}


.topbar {
    border-bottom: 1px solid #656565;
    padding-bottom: 8px;
    padding-top: 8px; 
}
