.main_font
{
    font-family: oswald_reg;
	src: url(fonts/Oswald-Regular.ttf);
}

*,body{
    padding: 0px;
    margin: 0px;
    /* background-color: #fff; */
}
.app-header{
  box-shadow: 0px 0px 9.49px 3.49px rgba(0,0,0,0.2)!important;
  background-color: #fff;
}


.text_style
{
  white-space: nowrap;
}

.br4_table
{

border-right: 1px solid #000;

}

.drop3 
{

border: 1px solid #000;

}

.woman_bg
{
background-color: rgb(221, 221, 221);
border-bottom: 10px solid hotpink;
border-radius: 20px;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 20px;
display: inline-block;
}

.man_bg{

background-color: rgb(221, 221, 221);
border-bottom: 10px solid #529bd4;
border-radius: 20px;
display: inline-block;
padding-left: 25px;
padding-right: 25px;
padding-top: 20px;
padding-bottom: 20px;
display: inline-block;
}


.bg_white
{
  background-color: white;
}

.card1_img
{
  background-image: url(Img/Finance_SME_Start_Up_Out_Line_53-512@1X.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.card2_img
{
  background-image: url(Img/Group\ 12@1X.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.card3_img
{
  background-image: url(Img/Layer\ 1359@1X.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.card4_img
{
  background-image: url(Img/Layer\ 1359@1X.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.img_style
{
  margin-left: 15px;
  margin-top: 2px;
}
.disflex{
  align-items: center;
}
.round1{
  background-color: #4c8fc4;
  
  border-radius: 100%;
  padding: 6px;
  display: inline-block;
}
.round2{
  background-color: #4c8fc4;
  width:34px;
  height: 34px;
  border-radius: 100%;
  text-align: center;
  line-height: 34px;
  display: inline-block;
  color: #fff;
}

.bg_none{
  background: transparent;
  border: 1px solid #ced4da;
  border-radius: 50px;
  color: #ced4da;
  padding-right:20px;
}
.second_section{
  height: 260px;
}

.face_text
{
font-size: 25px;
padding-left: 10px;
margin-top: 15px;

}
.lit_btn button
{
  background: transparent;
  border: 1px solid #ced4da;
  border-radius: 50px;
}

.lit_btn .wid90
{
  width: 90%;
}

.lit_btn .wid90:hover
{
  background-color: #4c8fc4;
  color: white;
}

.img_size
{
  max-width: 100%;
  margin-left: 45px;
  margin-top: 66px;
}
.br_analytic
{
  border-right: 3px solid #000;
}

.br_male
{
  border-right: 3px solid #000;
  height: 8 0%;
  margin-right: 5px;
}

div#chartContainerline {
  display: none;
}

.dropdown-toggle::after{
  right: 6px!important;
}
.drop2 .dropdown-toggle::after{
  right: 6px!important;
}
.third_section{
  height: 280px;
  margin-top: 35px;
  margin-right: 0px;
}

.fourth_section
{
  height: 240px;
}

.card
{
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 5px;
  margin-right: 5px;
  
}

.S2_style
{    
  padding: 0px;
  padding-left: 120px;
  padding-top: 40px;
}

.footer_style
{
  margin-left: 40%;
  margin-bottom: 2%;
}

 .cardimg_style
{
  margin-left: 3px;
  margin-right: 3px; 
  margin-top: 3px;
  margin-bottom: 3px;
} 

.face_style
{
margin-top: 60px;
margin-bottom: 5px;
margin-left: 0px;
margin-right: 0px;
}

.card2_style
{
 background-color: #4c8fc4;

}

.border_10
{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.bg_blue{
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.bg_blue
{
  background-color: #4c90c5;
}

.txt_style
{ 
display: inline-block;
white-space: nowrap;
padding-left: 5px; 
}

.txt2_style
{ 
display: inline-block;
white-space: nowrap;
padding-left: 12px; 
}


.round4
{
  background-color: #f40bb2;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  text-align: center;
  line-height: 24px;
  margin-left: 10px;
  display: inline-block;
  text-align: center;
  display: inline-block;
}

.button
{
  border-radius: 25px;
  width: 100%;
  height: 100%;
}

.cardblue_style
{
display: inline-flex;
align-items: center;
padding: 14px 0px 14px 0px;
}

.side_button
{
border-radius: 50%;
border: 1px solid #000;
}


.firstimg_style
{

max-width: 100%;
min-width: 100%;
padding-left: 15px;

}


.side_back
{

background-color: white;

}

.bg_search{
  background-color: transparent;
  border-right: 1px solid #ced4da;
  border-bottom:1px solid #ced4da;
  border-top: 1px solid #ced4da;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.bg_search i::before{
  color:#ced4da;
}

#mySidenav a {
  position: absolute;
  left: -70px;
  transition: 0.1s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#computer {
  top: 20px;
  border-radius: 25px;
  background-color: #f40bb2;
}

#message {
  top: 80px;
  background-color:  #f40bb2;
}

#connection {
  top: 140px;
  background-color:  #f40bb2;
}

#setting {
  top: 200px;
  background-color: img;
}

.card_text
{  
  color: white;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 0px;
}

.round3
{
  background-color: #000;
  width:34px;
  height: 34px;
  border-radius: 100%;
  text-align: center;
  line-height: 34px;
  display: inline-block; 
}

.icon_style
{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  height: auto;
  width: auto;
}

.round32
{
  background-color: #000;
  width:50px;
  height:50px;
  border-radius: 100%;
  text-align: center;
  line-height: 34px;
  display: inline-block;
  margin-left: 20px;

}

.menu_style
{
 padding-left: 15px;
 padding-top: 100px;
}

.menu img:hover + .menu-txt
{
  display: inline-block;
}

.menu-txt
{
  position: absolute;
  left: 65px;
  z-index: 99;
  top: 0px;
  color: white;
  background: rgb(255, 253, 253);
  height: 70px;
  /* padding-left: 70px; */
  white-space: nowrap;
  border-right: 4px solid #f40bb2;

  padding-top: 22px;
  padding-left: 22px;
  padding-right: 22px;
  display: none;  
} 

.menu
{
  position: relative;
  background-color: rgb(255, 255, 255);
}


.menu:hover
{
  border-left: 4px solid #f40bb2;
}

.profile
{
  background-color:  #000;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  text-align: center;
  line-height: 34px;
  display: inline-block; 
}

.round3 span{
  visibility: hidden;
}
select{
  border: none;
}
.icon1-style img{
  width: 34px;
}
.search_style
{
  margin-left: 250px;
  margin-top: 15px;
  border-radius: 30px;
  width: 30%;
 
}
.wid90 input{
  border-radius: 100px;
  border-right: none;
}
.icon1-style
{

  margin-left: 25px;
  text-align: left;
  margin-right: 25px;
}

.container{

    margin-bottom: 25px;
    margin-top: 25px;

}
.app-theme-white .app-footer .app-footer__inner, .app-theme-white .app-header {
    background: #fafbfc;
}

.fixed-header .app-header {
    position: fixed;
    width: 100%;
    top: 0;
}

.app-header.header-shadow {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}


.app-header
{
    height: 72px;
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    z-index: 10;
    transition: all .2s;
}

.hamburger
{
padding: 0px 0px;
display: inline-block;
cursor: pointer;
transition-property: opacity, filter;
transition-duration: 0.15s;
transition-timing-function: linear;
font: inherit;
color: inherit;
text-transform: none;
background-color: transparent;
border: 0;
margin: 0;
overflow: visible;
}


input
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}
/* Styles for wrapping the search box */

.main
{
  width: 50%;
  margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control 
{
  padding-left: 2.375rem;
}

.has-search .form-control-feedback
{
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.wid90{
  width: 45%;
}

.topbtn_style
{
 
border-radius: 50px;

}

.man_style
{
font-size: 40px;  
padding-left: 35px;
}



.icons_style
{
  font-size: 1rem;
  margin-left: 326px;
  display: inline-flex;
}

form:hover{
    width: 200px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #07051a;
    color: white;
}

.second_sec
{
    text-align: right;
}

.first_sec
{
    text-align: left;
}

.logo_style
{
    margin-bottom: 5px;
}

.container-fluid{
    overflow: hidden;
}
.First_Section
{
    background-color: rgb(243, 243, 243);
    padding-top: 5px;
    padding-bottom: 10px; 
    height: 85px;
}


.topbar {
    border-bottom: 1px solid #656565;
    padding-bottom: 8px;
    padding-top: 8px; 
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    margin-left: 17px;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}


@media (max-width: 576px) {
  .side_back 
  {
     display: none;
  }

  .app-header
  {
      display: inline-block;      
  }

  .input-group
  {
    display: none;
  }
  
  .second_menu
  {
    display: none;
  }
}




@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.nav-item{
    display: block;
}
.profile
{
    background: #d4d4d4;
    width: 100px;
    height: 100px;
    font-size: 13px;
    line-height: 20px;
    font-family: "Roboto-Medium";
    border: 6px solid #d4d4d4;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #d4d4d4;
    margin-left: 50px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #9fa6c9;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #9fa6c9;
}

#sidebar ul.components {
    padding: 15px 0;
    border-bottom: 1px solid #9fa6c9;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #9fa6c9;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #9fa6c9;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #9fa6c9;
}


 
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
/* ---------------------------------------------------
SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #7386D5;
  color: #fff !important;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color:white;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  content: '\e260';
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}
/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */

#content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}
/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */

@media (min-width:768px) and (max-width: 991px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
  }
  #content.active {
    width: calc(100% - 250px);
  }
  #sidebarCollapse span {
    display: none;
  }
}
@media(max-width:576px){
  .mt-mob{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .textcen_mob{
    text-align: center;
  }
  .mb_bottom{
    margin-bottom: 20px;
  }
}
.bg_grey{
  background-color: #ededed;
}